## Intellij IDEA
.idea
*.iml

# Eclipse IDE
.settings

## Output directories
target**
bin
build
megalinter-reports
tomcat
.m2

# macOS
.DS_Store

# Config file
src/main/webapp/WEB-INF/config/config.properties
